.no1{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgb(17, 17, 17);
    background-color: red;
}

#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    column-gap: 10px;
    row-gap: 10px;
}
.sub{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,69,1) 35%, rgba(136,232,24,0.6783963585434174) 100%);
border: 5px solid rgb(35, 38, 36);
padding: 20px;
height: 20px;


}
   
.fb{
    color: blue;
}
#fb1
{
    background-color: aliceblue;
    text-align: center;
    padding: 1em;
    margin: 38em;
    margin-top: 5px;
    color: black;
}
#fb2{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1cm;
}
#fb3{
align-items: center;
text-align: center;
    
}
#fb4{
    font-size: smaller;
    color: blue;
}
